<h2>Edit your details chef!</h2>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Day</th>
      <th>Meal</th>
      <th>Max Customers</th>
      <th>Customers</th>
    </tr>
  </thead>
  <tbody>
    <% @chefmeals.each do |chefmeal| %>
      <tr>
        <td>
          <%= chefmeal.days %>
        </td>
        <td>
          <%= chefmeal.meal %>
        </td>
        <td>
          <%= chefmeal.max_customers %>
        </td>
        <td>
          <%= chefmeal.num_customers %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= form_tag destroy_chefinfo_entry_path(@chefinfo), :method => :put do %>
  <%= label :new_entry, :day, 'Enter which day : ', :class => 'col-form-label' %>
  <%= text_field :new_entry, :day, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Destroy Chef Entry', 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col 2' %>
<% end %>
