<!--  This file is app/views/movies/index.html.erb -->
<h2>This is what your week looks like!!</h2>

<%#  Part 2: Start here... %>


<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Day</th>
      <th>Mealtime</th>
      <th>Meal</th>
      <th>Max Customers</th>
      <th>Customers</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @chefmeals.each do |chefmeal| %>
      <tr>
        <td>
          <%= chefmeal.days %>
        </td>
        <td>
          <%= chefmeal.mealtime %>
        </td>
        <td>
          <%= chefmeal.meal %>
        </td>
        <td>
          <%= chefmeal.max_customers %>
        </td>
        <td>
          <%= chefmeal.num_customers %>
        </td>
        <td>
        <%= link_to 'View Details', see_meal_path(chefmealid: chefmeal.id), :class => "btn btn-outline-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Change your schedule', edit_chefinfo_path(@chefinfo), :class => 'btn btn-primary col-2' %>
<%= link_to 'Remove an entry', choose_chefinfo_entry_path(@chefinfo), :class => 'btn btn-primary col-2' %>
