<h2>Edit your details chef!</h2>
<%= form_tag update_chef_path(@chef), :method => :put do %>
  <%= label :new_entry, :day, 'Enter which day : ', :class => 'col-form-label' %>
  <%= text_field :new_entry, :day, :class => 'form-control' %>
  <%= label :new_entry, :schedule, 'Enter your dish : ', :class => 'col-form-label' %>
  <%= text_field :new_entry, :schedule, :class => 'form-control' %>
  <%= label :new_entry, :max_customers, 'Enter the maximum people you can cook for : ', :class => 'col-form-label' %>
  <%= text_field :new_entry, :max_customers, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Chef Info', :class => 'btn btn-primary' %>
<% end %>
