<!--  This file is app/views/movies/index.html.erb -->
<h2>This is what your week looks like!!</h2>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Day</th>
      <th>Meal</th>
      <th>Max Customers</th>
      <th>Customers</th>
    </tr>
  </thead>
  <tbody>
    <% for a in 1..@schedule.length() do%>
      <tr>
        <td>
          <%= @days[a-1] %>
        </td>
        <td>
          <%= @schedule[a-1] %>
        </td>
        <td>
          <%= @max_customers[a-1] %>
        </td>
        <td>
          <%= @num_customers[a-1] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Change your schedule', edit_chef_path(@chef), :class => 'btn btn-primary col-2' %>
