<h2>Edit your details chef!</h2>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Day</th>
      <th>Mealtime</th>
      <th>Meal</th>
      <th>Chef</th>
    </tr>
  </thead>
  <tbody>
    <% for a in 1..@meals.length() do%>
      <tr>
        <td>
          <%= @days[a-1] %>
        </td>
        <td>
          <%= @mealtimes[a-1] %>
        </td>
        <td>
          <%= @meals[a-1] %>
        </td>
        <td>
          <%= @chefs[a-1] %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>


<%= form_tag destroy_customerinfo_entry_path(@customerinfo), :method => :put do %>
  <%= label :day, :day, 'Enter which day : ', :class => 'col-form-label' %>
  <%= date_field_tag :day, :day, :class => 'form-control', :id => 'datepicker' %>
  <%= label_tag :mealtime, 'Select meal:', :class => 'col-form-label' %>
  <%= select_tag :mealtime, options_for_select(['Breakfast', 'Lunch', 'Snacks', 'Dinner'], :mealtime), :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Destroy Chef Entry', 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col 2' %>
<% end %>
