<h2>Edit your details customer!</h2>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Day</th>
      <th>Mealtime</th>
      <th>Meal</th>
      <th>Chef</th>
      <th>No. of meals</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for a in 1..@meals.length() do%>
      <tr>
        <td>
          <%= @days[a-1] %>
        </td>
        <td>
          <%= @mealtimes[a-1] %>
        </td>
        <td>
          <%= @meals[a-1] %>
        </td>
        <td>
          <%= @chefs[a-1] %>
        </td>
        <td>
          <%= @num_meals[a-1] %>
        </td>
        <td>
        <%= link_to 'Destroy one meal', destroy_customerinfo_entry_path(customermealid: Customermeal.find(@customermeal_ids[a-1]).id), method: :put, 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col 2'  %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
