<!--  This file is app/views/movies/index.html.erb -->
<h2>This is what your week looks like!!</h2>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Day</th>
      <th>Mealtime</th>
      <th>Meal</th>
      <th>Chef</th>
    </tr>
  </thead>
  <tbody>
    <% for a in 1..@days.length() do%>
      <tr>
        <td>
          <%= @days[a-1] %>
        </td>
        <td>
          <%= @mealtimes[a-1] %>
        </td>
        <td>
          <%= @meals[a-1] %>
        </td>
        <td>
          <%= @chefs[a-1] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Change your schedule', edit_customerinfo_path(@customerinfo), :class => 'btn btn-primary col-2' %>
<%= link_to 'Remove an entry', choose_customerinfo_entry_path(@customerinfo), :class => 'btn btn-primary col-2' %>
<%= link_to 'Log Out', commons_path, :class => 'btn btn-primary col-2' %>