<h2>Edit your details chef!</h2>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Day</th>
      <th>Meal</th>
      <th>Chef</th>
    </tr>
  </thead>
  <tbody>
    <% for a in 1..@meals.length() do%>
      <tr>
        <td>
          <%= @days[a-1] %>
        </td>
        <td>
          <%= @meals[a-1] %>
        </td>
        <td>
          <%= @chefs[a-1] %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>


<%= form_tag destroy_customer_entry_path(@customer), :method => :put do %>
  <%= label :new_entry, :day, 'Enter which day : ', :class => 'col-form-label' %>
  <%= text_field :new_entry, :day, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Destroy Chef Entry', 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col 2' %>
<% end %>
