<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>

<h2>Chef Sign up Form</h2>

<%= form_tag signup_chef_intermediate_path, id: 'chef_signup' do %>

  <div class="container">
    <%= label :common, :username, 'Username', :class => 'col-form-label' %>
    <%= text_field :common, :username, :class => 'form-control' %>

    <%= label :common, :password, 'Password', :class => 'col-form-label' %>
    <%= text_field :common, :password, :class => 'form-control' %>

    <%= label :common, :name, 'Name', :class => 'col-form-label' %>
    <%= text_field :common, :name, :class => 'form-control' %>

    <%= label :common, :food_constraint, 'Vegan/Vegetarian/Eggetarian/Halal/Kosher/Non-vegetarian', :class => 'col-form-label' %>
    <%= text_field :common, :food_constraint, :class => 'form-control' %>

    <%= label :common, :tags, 'Tags(Multiple allowed like Indian, Thai etc)', :class => 'col-form-label' %>
    <%= text_field :common, :tags, :class => 'form-control' %>

    <%= label :common, :description, 'Description', :class => 'col-form-label' %>
    <%= text_field :common, :description, :class => 'form-control' %>

    <%= label :common, :address, 'Address', :class => 'col-form-label' %>
    <%= text_field :common, :address, :class => 'form-control' %>

    <%= label :common, :address_coordinates_x, 'Address coordinate x (house latitude, ex:30)', :class => 'col-form-label' %>
    <%= number_field :common, :address_coordinates_x, :class => 'form-control' %>

    <%= label :common, :address_coordinates_y, 'Address coordinate y (house longitude, ex:30)', :class => 'col-form-label' %>
    <%= number_field :common, :address_coordinates_y, :class => 'form-control' %>

  </div>    
    

  
  <%= submit_tag 'Sign Up', id: 'login_submit', class: 'btn btn-primary' %>
    
  <% end %>

</body>
</html>